<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录页面</title>
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
<div class="login-container">
    <h2><i class="fas fa-sign-in-alt"></i> 登录</h2>
    <p>请选择您的身份进行登录。</p>
<!--    <a href="/toStuLogin" class="active"><font color="orange"><i class="fas fa-user-graduate"></i> 学生登录</font></a>-->
    <a href="./student/toStuLogin" class="active"><font color="orange"><i class="fas fa-user-graduate"></i> 学生登录</font>></a>
<!--    <a href="/toTeacher"><font color="teal"><i class="fas fa-chalkboard-teacher"></i> 教师登录</font></a>-->
    <a href="./teacher/toTeacher"><font color="teal"><i class="fas fa-chalkboard-teacher"></i> 教师登录</font></a>
</div>
<div class="footer">
    &copy; 2025 教育管理系统
</div>
</body>
</html>